<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
</head>
<body>
    <div class="table-data">
    <h1>Users list</h1>

    <form action="/user-list" method="POST">
		<fieldset>
			<label>Search</label>
			<input type ="text" id = 'keyword' name="keyword" placeholder=<%=keyword%> required>
			<br><br>

			<button type ="reset">Reset</button>
			<button type ="submit">Submit</button>
		</fieldset>
	
        <%
        if(total_pages!=0){
        var i=1;
        for(var i=1; i<=total_pages+1; i++){
        %>
        <button type ="submit" id="page" name="page" value=<%=i %>><%=i %></button>
        <%  i++; } %>
        <% } %>
    </form>

    <table border="1" class="searchable sortable">
        <tr>
            <th >Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Organization</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.id; %></td>
            <td><%=data.first_name %></td>
            <td><%=data.last_name %></td>
            <td><%=data.email %></td>
            <td><%=data.organization %></td>
            <!-- <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>

    <script>
        let sort = "asc";
        function sortFunction(field, sort) {
          document.getElementById("demo").innerHTML = "Hello World";
        }
        </script>
</body>
</html>
